.tile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 180px;
    position: relative;
    margin: 30px;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.imageContainer {
    width: 180px;
    height: 180px;
    position: relative;
}


.shade {
    background-color: #48C3DC;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
    border-radius: 50%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-size: 20px;
    color: #452E76;
    margin: 17px 0;
}

.position, .location {
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
}

.position {
    color: #48C3DC;
}

.location {
    color: #808080;
}

.iconContainer {
    border: none;
    outline: none;
    background: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #452E76;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 100;
}